{{#if successfulLoad}}
  <table class="u-full-width minimal-table">
    <caption class="left-align larger-font">
      <strong>{{t "displayCongress.aboutDistrict"}}</strong>
    </caption>
    <tbody>
      <tr data-test-display-congress__state>
        <th scope="row">{{t "geography.state"}}</th>
        <td>{{district.state}}</td>
      </tr>
      <tr data-test-display-congress__district>
        <th scope="row">{{t "geography.district"}}</th>
        <td>{{district.number}}</td>
      </tr>
      <tr data-test-display-congress__permalink>
        <th scope="row">{{t "displayCongress.permalink"}}</th>
        <td><a href="{{permalink}}">{{permalink}}</a></td>
      </tr>
    </tbody>
  </table>

  {{#each congress.representatives as |representative|}}
    {{display-congressperson congressperson=representative
                             class="row--extra-space"
                             data-test-display-congressperson="representative"}}
  {{/each}}

  {{#each congress.senators as |senator|}}
    {{display-congressperson congressperson=senator
                             class="row--extra-space"
                             data-test-display-congressperson="senator"}}
  {{/each}}
{{/if}}

<div class="row--extra-space">
  <button data-test-display-congress__back
          class="button-primary u-full-width" {{action "returnHome"}}>
        {{t "displayCongress.back"}}
  </button>
</div>