{{#if congressperson.vacant}}
  <table class="u-full-width minimal-table">
    <caption class="u-full-width left-align" data-test-display-congressperson__name>
      <h5>{{t "congress.vacancy"}}</h5>
    </caption>
    <tbody>
      <tr>
        <td data-test-display-congressperson__footnote>
          {{t "congress.vacancySuccessor" title=congressperson.title
                                          firstName=congressperson.person.firstname
                                          lastName=congressperson.person.lastname}}
        </td>
      </tr>
    </tbody>
  </table>
{{else}}
  <table class="u-full-width">
    <caption class="u-full-width left-align" data-test-display-congressperson__name>
      <h5>{{t "format.name" title=congressperson.title
                          firstName=congressperson.person.firstname
                          lastName=congressperson.person.lastname}}</h5>
    </caption>

    <tbody>
      {{#if congressperson.phone}}
        <tr data-test-display-congressperson__phone>
          <th scope="row">{{t "general.phone"}}</th>
          <td>
           <a href="tel:{{congressperson.phone}}">{{congressperson.phone}}</a>
          </td>
        </tr>
      {{/if}}

      {{#if congressperson.party}}
      <tr data-test-display-congressperson__party>
        <th scope="row">{{t "congress.partyAffiliation"}}</th>
        <td>{{congressperson.party}}</td>
      </tr>
      {{/if}}

      {{#if congressperson.next_election}}
      <tr data-test-display-congressperson__next-election>
        <th scope="row">{{t "congress.nextElection"}}</th>
        <td>{{congressperson.next_election}}</td>
      </tr>
      {{/if}}

      {{#if congressperson.twitter}}
      <tr data-test-display-congressperson__twitter>
        <th scope="row">{{t "general.twitter"}}</th>
        <td>
           <a href="https://twitter.com/{{congressperson.twitter}}">@{{congressperson.twitter}}</a>
        </td>
      </tr>
      {{/if}}

      {{#if congressperson.govtrack}}
      <tr data-test-display-congressperson__govtrack>
        <th scope="row">{{t "congress.govtrack"}}</th>
        <td>
           <a href="https://www.govtrack.us/congress/members/{{congressperson.govtrack}}">{{t "congress.govtrackLink"}}</a>
        </td>
      </tr>
      {{/if}}

      {{#if congressperson.cspan}}
      <tr data-test-display-congressperson__cspan>
        <th scope="row">{{t "congress.cspan"}}</th>
        <td>
           <a href="https://www.c-span.org/person/?{{congressperson.cspan}}">{{t "congress.cspanLink"}}</a>
        </td>
      </tr>
      {{/if}}
    </tbody>
  </table>
{{/if}}
