<div class="u-full-width display-congressperson__name">
  {{#if congressperson.vacant}}
    <h5>{{t "congress.vacancy"}}</h5>
    <p>{{congressperson.footnote}}</p>
  {{else}}
    <h5>{{t "format.name" title=congressperson.title
                          firstName=congressperson.person.firstname
                          lastName=congressperson.person.lastname}}</h5>
  {{/if}}
</div>

{{#unless congressperson.vacant}}
  <table class="u-full-width">
    <tbody>
      {{#if congressperson.phone}}
        <tr class="display-congressperson__phone">
          <td><strong>{{t "general.phone"}}</strong></td>
          <td>
           <a href="tel:{{congressperson.phone}}">{{congressperson.phone}}</a>
          </td>
        </tr>
      {{/if}}
      {{#if congressperson.party}}
      <tr class="display-congressperson__party">
        <td><strong>{{t "congress.partyAffiliation"}}</strong></td>
        <td>{{congressperson.party}}</td>
      </tr>
      {{/if}}
    </tbody>
  </table>
{{/unless}}