{{#if successfulLoad}}
  <div class="row" data-test-display-congress__state>
    <div class="one-half column"><strong>{{t "geography.state"}}</strong></div>
    <div class="one-half column">{{district.state}}</div>
  </div>

  <div class="row" data-test-display-congress__district>
    <div class="one-half column"><strong>{{t "geography.district"}}</strong></div>
    <div class="one-half column">{{district.number}}</div>
  </div>

  <div class="row" data-test-display-congress__permalink>
    <div class="one-half column"><strong>{{t "displayCongress.permalink"}}</strong></div>
    <div class="one-half column">
      <a href="{{permalink}}">{{permalink}}</a>
    </div>
  </div>

  {{#each congress.representatives as |representative|}}
    {{display-congressperson congressperson=representative
                             class="row--extra-space"
                             data-test-display-congressperson="representative"}}
  {{/each}}

  {{#each congress.senators as |senator|}}
    {{display-congressperson congressperson=senator
                             class="row--extra-space"
                             data-test-display-congressperson="senator"}}
  {{/each}}
{{/if}}

<div class="row--extra-space">
  <button data-test-display-congress__back
          class="button-primary u-full-width" {{action "returnHome"}}>
        {{t "displayCongress.back"}}
  </button>
</div>