<div>
  your congressional representatives are:
</div>

<div>
  <button {{action "lookupGeography"}}>Click</button>
</div>

{{#if representatives}}
  <div>
    num reps: {{representatives.length}}
    {{#each representatives as |representative key|}}
      <div>
      <strong>representative {{key}}</strong>
      {{representative.phone}}
      {{representative.title}} {{representative.person.firstname}} {{representative.person.lastname}} ({{representative.party}})
      </div>
    {{/each}}
  </div>
{{/if}}

{{#if senators}}
  <div>
    num senators: {{senators.length}}
    {{#each senators as |senator key|}}
      <div>
      <strong>senator {{key}}</strong>
      {{senator.phone}}
      {{senator.title}} {{senator.person.firstname}} {{senator.person.lastname}} ({{senator.party}})
      </div>
    {{/each}}
  </div>
{{/if}}
