<div>
  State: {{congress.district.state}} District: {{congress.district.number}}
</div>

<div>
  num reps: {{congress.representatives.length}}
  {{#each congress.representatives as |representative key|}}
    <div>
    <strong>representative {{key}}</strong>
    {{representative.phone}}
    {{representative.title}} {{representative.person.firstname}} {{representative.person.lastname}} ({{representative.party}})
    </div>
  {{/each}}
</div>

<div>
  num senators: {{congress.senators.length}}
  {{#each congress.senators as |senator key|}}
    <div>
    <strong>senator {{key}}</strong>
    {{senator.phone}}
    {{senator.title}} {{senator.person.firstname}} {{senator.person.lastname}} ({{senator.party}})
    </div>
  {{/each}}
</div>

<button {{action "returnHome"}}>Back</button>