<form>
   <div class="row">
    <div class="six columns" data-test-lookup-congress__street>
      <label for="addressInput">{{t "geography.address"}}</label>
      {{input value=lookupData.street
              placeholder="1600 Pennsylvania Ave"
              id="addressInput"
              class="u-full-width"}}
    </div>
    <div class="six columns" data-test-lookup-congress__zip>
      <label for="zipCodeInput">{{t "geography.zipCode"}}</label>
      {{input value=lookupData.zip
              placeholder="20500"
              id="zipCodeInput"
              class="u-full-width"
              type="number"
              pattern="\d*"}}
    </div>
  </div>

  <div class="row">
    {{input data-test-lookup-congress__search
            value=(t "lookupCongress.search")
            class="button-primary"
            type="submit"}}
  </div>
</form>

{{#if isLoading}}
  <img class="loading loading--nested" src="/assets/loading.svg" />
{{/if}}

{{#if lookupData.districtsToPickFrom}}
  {{pick-district data-test-pick-district districts=lookupData.districtsToPickFrom}}
{{/if}}