<form>
   <div class="row">
    <div class="six columns lookup-congress__street">
      <label for="addressInput">{{t "geography.address"}}</label>
      {{input value=street
              placeholder="1600 Pennsylvania Ave"
              id="addressInput"
              class="u-full-width"}}
    </div>
    <div class="six columns lookup-congress__zip">
      <label for="zipCodeInput">{{t "geography.zipCode"}}</label>
      {{input value=zip
              placeholder="20500"
              id="zipCodeInput"
              class="u-full-width"
              type="number"
              pattern="\d*"}}
    </div>
  </div>

  <div class="row">
    {{input value=(t "lookupCongress.search")
            class="button-primary lookup-congress__search"
            type="submit"}}
  </div>
</form>