<form data-test-lookup-congress onsubmit={{action "lookupCongress"}}>
   <div class="row">
    <div class="six columns" data-test-lookup-congress__street>
      <label for="addressInput">{{t "geography.address"}}</label>
      <input value={{readonly lookupData.street}}
             oninput={{action (mut lookupData.street) value="target.value"}}
             data-test-lookup-congress__street-input
             placeholder="1600 Pennsylvania Ave"
             id="addressInput"
             class="u-full-width"
             type="text">
    </div>
    <div class="six columns" data-test-lookup-congress__zip>
      <label for="zipCodeInput">{{t "geography.zipCode"}}</label>
      <input value={{readonly lookupData.zip}}
             oninput={{action (mut lookupData.zip) value="target.value"}}
             data-test-lookup-congress__zip-input
             placeholder="20500"
             id="zipCodeInput"
             class="u-full-width"
             type="number"
             pattern="\d*">
    </div>
  </div>

  <div class="row">
    <input data-test-lookup-congress__search
           value={{t "lookupCongress.search"}}
           class="button-primary"
           type="submit">
  </div>
</form>